django==4.2.16
djangorestframework 
pymongo==3.12.3
Pytz
sqlparse==0.2.4
axios
langchain
langchain_community
langchain-chroma
sentence-transformers
langchain-huggingface
django-cors-headers
djongo
langchain_experimental
openai
pandas
tabulate
#Those concerns players detection 
opencv-python
scikit-image
ultralytics